.drink-div-category {
  margin: 10px;
}

.drink-btn-category {
  background-color: #fac065;
  border-radius: 28px;
  border-style: none;
  color: white;
  font-size: 10px;
  font-weight: 700;
  margin: 5px;
  padding: 3px;
  width: 30%;
}

@media only screen and ( min-width : 768px ) {

  .drink-div-category {
    align-items: center;
    display: flex;
    margin: 10px 0;
    padding: 0 10%;
    width: 100vw;
  }

  .drink-btn-category {
    font-size: 14px;
    min-height: 40px;
  }
}
