.recipes-card-box {
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex: 0 0 auto;
  margin: 3.5% 2%;
  min-height: 20vh;
  width: 96vw;
}

.done-recipes-box-image {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  height: 100%;
  object-fit: cover;
  width: auto;
}

.done-recipe-card {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  width: 90%;
}

.done-recipe-card > * {
  color: #333;
  margin: 0.3em;
  text-decoration: none;
}

.done-recipe-card a h4 {
  margin-left: 0.3em;
}

.done-recipe-card a {
  margin: 0;
}

.done-recipe-div-tag {
  display: flex;
  flex-wrap: wrap;
}

.done-recipe-tag {
  font-style: italic;
  margin-right: 0.5em;
}

.done-share {
  text-align: right;
  width: 20vw;
}

@media only screen and ( min-width : 768px ) {

  .recipes-card-box {
    margin-left: auto;
    margin-right: auto;
    min-height: auto;
    width: 80vw;
  }

  .done-share {
    align-self: center;
  }
}
