.search-bar {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2% 5% 1%;
}

.search-input input {
  border-color: #333;
  border-radius: 28px;
  border-style: solid;
  border-width: 3px;
  font-size: 16px;
  margin: 12px;
  padding: 7px;
  width: 90vw;
}

.search-radios {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
  width: 90%;
}

.search-radios label {
  cursor: pointer;
}

.search-radios label input {
  cursor: pointer;
  margin: 5px;
  position: relative;
}

.search-radios label input:checked:after {
  background-color: rgb(98, 98, 98);
  border-radius: 100%;
  content: '';
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.filter-btn {
  border-radius: 28px;
  border-style: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 1px;
  margin: 12px;
  padding: 7px;
  text-transform: uppercase;
  width: 30%;
}

@media only screen and ( min-width : 768px ) {

  .search-bar {
    padding: 0 10%;
  }

  .search-input input {
    width: 50vw;
  }

  .search-radios {
    width: 60%;
  }
}
